/* colors.css */
* {
  --backgraund-color: #292929;
  --secondary-color: #2196F3;
  --accent-color: #FF9800;
  --text-color: #ffffff;
  --button-text-color:#000000;
  --backgraund-bloc-color: #3d5aea;
  --button-border-color: #ff9900;
  --error-color: #F44336;
  --success-color: #4CAF50;
}
